<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hive.heartbeat</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>$HOME/.hive/scripts/heartbeat.sh >> $HOME/.hive/logs/heartbeat.log 2>&amp;1</string>
    </array>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>
